@media screen and ( max-width: 991px  )
    .em
        display: none
    .carde
        display: flex
        flex-direction: column
        flex-wrap: wrap

    .toggle-button
        position: relative
        display: flex
        margin-left: 15px 

    .navbar-nav 
        display: none !important
        width: 100% !important

    .navbar-nav .navbar-center 
        // display: flex !important
        // flex-direction: column !important
        // flex-direction: row  !important
        align-items: flex-start !important

    .navbar-nav .navbar-center  ul
        display:  flex !important
        width: 100% !important
        flex-direction: row !important

    .navbar-nav .navbar-center li 
        text-align: center!important
    .navbar-nav .navbar-center li
        paddding: .5rem 1 rem !important

    .navbar-nav.active
        display: flex !important
        flex-direction: row!important
        flex-wrap: wrap
        #myBtn
            margin-left: 25px
            margin-bottom: 5%
        li
            font-size: 12px

    .modal
        width:75% !important
        h5
            font-size: 17px !important
    .modal2
        width:75% !important
        h5
            font-size: 12px !important
            
    .sa
            margin-left: 10%
            padding-top: 25px
    .ss-promoC
        background: white !important
    .promoC
        background: white !important

@media screen and ( max-width: 425px  )
    .salee
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    .carousel 
            max-width: 400px
            margin-left: 0%
            font-size:15px

