.navbar-nav, .navbar-center 
    position: absolute
    left: 50%
    transform: translatex(-50%)
    top: 10%
    animation: vis 0.5s

.toggle-button
    display: none
    flex-direction: column
    justify-content:  space-between
    width: 30px
    height: 21px

.toggle-button .bar 
    height: 4px
    width: 100%
    background: grey
    border-radius: 10px

.em
    font-weight: bold
    font-size: 4rem

#blanc 
    width: 20px
    height: 20px
    background-color: white
    margin-right: 5px
    border-radius:5px
    box-shadow: 2px 1px 1px black

#noir
    width: 20px
    height: 20px
    background-color: black
    border-radius:5px
    box-shadow: 2px 1px 1px white
    
.anim-nav
    color: black !important
    background-color: white  !important
    position: fixed !important
    top: 0% 
    height:80px
    width: 100%
    display: flex
    justify-content: space-around
    margin-top:0 !important
    border-bottom: 2px solid black !important
    align-items: center
    z-index: 1

.anim
    @keyframes vis
        0%
            opacity: 0
        100%
            opacity: 1


body.dark
    color: white !important
    background: #333 !important
    nav
        li
            color: #fff !important
    .section1
        color: black !important
    label
        color: black
    h5
        color: black
    .modal-close
        color: black
    .modal-close2
        color: black