.item1
    background-image: url(../../public/img/services/service-1.jpg)
    background-size: cover 
    width: 450px
    height: 300px
    border: white 8px solid
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../public/img/services/service-1.jpg")

.item2
    background-image: url(../../public/img/services/service-2.jpg)
    background-size: cover 
    width: 450px
    height: 300px !important
    border: white 8px solid
    height:100%
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../public/img/services/service-1.jpg")

.item3
    background-image: url(../../public/img/services/slider-3.jpg)
    background-size: cover 
    width: 450px
    height: 300px
    border: white 8px solid
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../public/img/services/service-1.jpg")

.section2
    color: white
    h2
        padding-bottom: 5px
        border-bottom: 3px solid white
        width: 90%
        margin:  auto
        padding: auto

    h2.mouve
        width: 50%
        // margin:  auto
        // padding: auto
        transition: 1s ease-in
